<div id="exampleModalFade">
  <nav class="nav navbar navbar-dark bg-dark">
    <div class="navbar-brend">
      <li class="nav-item">
        <a class="nav-link active text-white" routerLink="/cadastrar">
          <fa-icon [icon]="faPlus"></fa-icon>
          Cadastrar usuário
        </a>
      </li>
    </div>
    <div>
      <form class="d-flex m-2" role="search">
        <input #valor class="form-control me-2" type="text" placeholder="Ex.: Fulano" aria-label="Search">
        <button class="btn btn-success" (click)="buscar(valor.value)" type="button">Buscar</button>
      </form>
    </div>
    <div>
      <span class="me-2" style="color: white">
        {{ usuarioLogado }}
      </span>
      <button class="btn btn-danger me-2" (click)="logout()" type="button">Sair</button>
    </div>
  </nav>

  <h3 class="text-center m-3">Lista de usuários</h3>
  <div class="container">
    <div class="m-3">
      <input type="button" class="btn btn-danger" type="button" (click)="gerarPdf()" value="Baixar PDF">
      <input type="button" class="btn btn-success" type="button" (click)="gerarCsv()" value="Baixar CSV" style="margin-left: 5px;">
    </div>
    <table [hidden]="lista.length != 0" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Exclusão</th>
          <th>Edição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" style="text-align: center;">
            Sem usuários
          </td>
        </tr>
      </tbody>
    </table>

    <table id="myTable" [hidden]="lista.length == 0" class="table table-bordered table-hover display">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Exclusão</th>
          <th>Edição</th>
        </tr>
      </thead>
      <tbody *ngFor="let usuario of lista; index as i">
        <tr>
          <ng-container *ngIf="
            value.toLowerCase() == usuario.nome.toLowerCase() ||
            value == '' ||
            value.toLowerCase() == usuario.nome.toLowerCase().charAt(0)
            "
          >
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.telefone }}</td>
            <td><input type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" type="button" (click)="openModal(i)" value="Excluir"></td>
            <td><input class="btn btn-warning" type="button" [routerLink]="['/editar/', i + 1]"
                value="Editar"></td>
          </ng-container>
          <ng-container *ngIf="value != ''">

          </ng-container>
          <ng-container *ngIf="lista.length == 0">
            <td>Nenhum usuário</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <app-modal-excluir-usuario
    [id]="id"
    [excluirUsuario]="excluirUsuario">
  </app-modal-excluir-usuario>
</div>
