 /* Estilo base da tabela */
 table {
  width: 100% !important;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

.table>:not(:first-child) {
  border-top: none !important;
}

/* Estilo específico para tela pequena */
@media only screen and (max-width: 600px) {
  .centraliliza-dados{
    display:grid !important;
    justify-content: center !important;
    justify-items: center !important;
  }
  th, td {
    padding: 4px;
    width: 75vw;
  }
  table {
    border: 0;
    width: 80% !important;
  }
  table thead {
    display:none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #dddddd;
  }
  table td {
    display: block;
    text-align: right;
    border-bottom: none;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  table tbody{
    width: 100%;
  }
}
