<nav class="nav navbar navbar-dark bg-dark">
  <div class="navbar-brend">
    <li class="nav-item">
      <a class="nav-link active text-white" routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
        Cadastro de usuários
      </a>
    </li>
  </div>
</nav>

<h3 class="text-center m-3">Lista de usuários</h3>
<div class="container p-3">
  <table [hidden]="lista?.length == 0" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Exclusão</th>
        <th>Edição</th>
      </tr>
    </thead>
    <tbody *ngFor="let usuario of lista; index as i">
      <tr>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.telefone }}</td>
        <td><input class="btn btn-danger" type="button" (click)="excluir(i)" value="Excluir"></td>
        <td><input class="btn btn-warning" type="button" (click)="editar(usuario.nome,usuario.telefone,i)" value="Editar"></td>
      </tr>
    </tbody>
  </table>
</div>

<form [formGroup]="formGroup" [hidden]="show">
  <h3 class="text-center m-3">Edição de usuários</h3>
  <div class="container">
    <div class="form-group m-3">
      <label for="nome">Nome:*</label>
      <input type="text" id="nome" name="nome" class="form-control" formControlName="nome" placeholder="ex.: Nome Sobrenome..." minlength="3" maxlength="30">
      <div *ngIf="nome!.invalid && (nome!.dirty || nome!.touched)" class="alert-background">
        <small *ngIf="nome!.errors?.['required']">
          O campo nome é obrigatório
        </small>
        <small *ngIf="nome!.errors?.['minlength']">
          Quantidade mínima de 3 letras.
        </small>
        <small class="alerta" *ngIf="nome!.errors?.['pattern']">
          Insira apenas letras.
        </small>
      </div>
    </div>

    <div class="alerta" class="form-group m-3">
      <label for="fone">Telefone:*</label>
      <input type="text" id="fone" name="fone" class="form-control" formControlName="fone" mask="84988887777" placeholder="ex.: 84988887777" minlength="10" maxlength="11">
      <div *ngIf="fone!.invalid && (fone!.dirty || fone!.touched)" class="alert-background">
        <small class="alerta" *ngIf="fone!.errors?.['required']">
          O campo telefone é obrigatório.
        </small>
        <small class="alerta" *ngIf="fone!.errors?.['minlength']">
          Quantidade  mínimo de 10 números.
        </small>
        <small class="alerta" *ngIf="fone!.errors?.['pattern']">
          Insira apenas números.
        </small>
      </div>
    </div>
    <div class="m-3">
      <input type="button" [disabled]="!formGroup.valid" class="btn btn-success" value="Atualizar" (click)="atualizar(nome!.value, fone!.value,count)">
    </div>
  </div>
</form>
