

<div class="container" (mouseover)="alterarOlhos()" (mouseleave)="alterarolhosSaida()">
  <div class="box">
    <div class="quatro">
      Err
   </div>
   <div class="olho-direito">
    <div class="iris-esquerda">

    </div>
    </div>
    <div class="quatro">
      r
   </div>
   <div>

   </div>
  </div>
  <div  class="box">
    <div class="quatro">
      4
    </div>
    <div class="olho-esquerdo">
      <div class="iris-direita">

      </div>
    </div>
    <div class="quatro">
      4
    </div>
  </div>
</div>

<h1>Página não encontrada</h1>


