*{
  margin: 0px;
  padding: 0;
}

.container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
}

.quatro{
  font-size: 260px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  position: relative;
  bottom: 105px;
}

.olho-esquerdo{
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 150px;
  height: 200px;
  border-radius: 50%;
}

.iris-esquerda{
  background-color: #000000;
  border: 1px solid #000000;
  width: 50px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: 50px;
}

.olho-direito{
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 150px;
  height: 200px;
  border-radius: 50%;
}

.iris-direita{
  background-color: #000000;
  border: 1px solid #000000;
  width: 50px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: 50px;
}
