<nav class="nav navbar navbar-dark bg-dark">
  <div class="navbar-brend">
    <li class="nav-item">
      <a class="nav-link active text-white" routerLink="/">
        <fa-icon [icon]="faList"></fa-icon>
        Lista de usuários
      </a>
    </li>
  </div>
</nav>

<div class="card container mt-5">
  <div class="card-header bg-dark text-white">
    <strong>Edição de usuários</strong>
  </div>
  <div class="card-body">
    <form [formGroup]="formGroup">

      <div class="container">
        <div class="form-group m-3">
          <label for="nome">Nome:*</label>
          <input type="text" id="nome" name="nome" class="form-control" formControlName="nome"
            placeholder="ex.: Nome Sobrenome..." minlength="3" maxlength="30">
          <div *ngIf="nome!.invalid && (nome!.dirty || nome!.touched)" class="alert-background">
            <small *ngIf="nome!.errors?.['required']">
              O campo nome é obrigatório
            </small>
            <small *ngIf="nome!.errors?.['minlength']">
              Quantidade mínima de 3 letras.
            </small>
            <small class="alerta" *ngIf="nome!.errors?.['pattern']">
              Insira apenas letras.
            </small>
          </div>
        </div>

        <div class="alerta" class="form-group m-3">
          <label for="fone">Telefone:*</label>
          <input type="text" id="fone" name="fone" class="form-control" formControlName="fone" mask="84988887777"
            placeholder="ex.: 84988887777" minlength="11" maxlength="16">
          <div *ngIf="fone!.invalid && (fone!.dirty || fone!.touched)" class="alert-background">
            <small class="alerta" *ngIf="fone!.errors?.['required']">
              O campo telefone é obrigatório.
            </small>
            <small class="alerta" *ngIf="fone!.errors?.['minlength']">
              Quantidade mínimo de 10 números.
            </small>
            <small class="alerta" *ngIf="fone!.errors?.['pattern']">
              Insira apenas números.
            </small>
          </div>
        </div>
        <div class="m-3">
          <input style="margin-right: 5px;" type="button" [disabled]="!formGroup.valid" class=" rounded-pill btn btn-success" value="Atualizar"
            (click)="atualizar(nome!.value, fone!.value)" routerLink="/">
          <input type="button" class="rounded-pill btn btn-danger" value="Cancelar"
            (click)="cancelar()">
        </div>
      </div>
    </form>
  </div>
</div>


