<nav class="nav navbar navbar-dark bg-dark">
  <div class="navbar-brend">
    <li class="nav-item">
      <a class="nav-link active text-white" routerLink="/">
        <fa-icon [icon]="faList"></fa-icon>
        Lista de usuários
      </a>
    </li>
  </div>
</nav>


<div class="card container mt-5">
  <div class="card-header bg-dark text-white">
    <strong>Dashboard</strong>
  </div>
  <div class="card-body">
    <div class="dashboard-width">
    <canvas id="myChart" ></canvas>
  </div>
  </div>
</div>

<div>

</div>
