/* You can add global styles to this file, and also import other style files */

:root app-modal-excluir-usuario{
  position: absolute;
  top: 200px;
  width: 95%;
}

.alert-background {
  background-color: white;
  color: red;
}

fa-icon {
  color: white;
}
